@import "tailwindcss";

body {
  font-family: "Alan Sans", sans-serif;
  background-color: #f5f5f5;
}

@font-face {
  font-family: "Alan Sans";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/Alan_Sans/AlanSans-VariableFont_wght.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "Caesar Dressing";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Caesar_Dressing/CaesarDressing-Regular.ttf")
    format("truetype");
}

@theme {
  --color-custom-blue: #125eb7;
  --color-custom-blue-light: #419aff;
  --color-custom-gray: #242424;
  --color-custom-black: #000000;
  --color-custom-white: #ffffff;
}

@utility container {
  margin-inline: auto; /* Equivale a center: true */
  padding-inline: 1rem; /* Equivale a padding DEFAULT: 1rem */

  /* Substituições para cada breakpoint */
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

@layer utilities {
  .font-alan-sans-bold {
    font-family: "Alan Sans", sans-serif;
    font-weight: 700;
  }
  .font-alan-sans-semibold {
    font-family: "Alan Sans", sans-serif;
    font-weight: 600;
  }
  .font-alan-sans-medium {
    font-family: "Alan Sans", sans-serif;
    font-weight: 500;
  }
  .font-alan-sans-regular {
    font-family: "Alan Sans", sans-serif;
    font-weight: 400;
  }
  .font-caesar-regular {
    font-family: "Caesar Dressing", serif;
  }
}

/* Cores customizadas disponíveis via Tailwind */
/* --color-blue: #125eb7; */
/* --color-gray: #242424; */
/* --color-black: #000000; */
/* --color-white: #ffffff; */
